<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  

  <div class="container">
    <!--
    <ul class="nav bg-info">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/members">MEMBERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/testing">TESTING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/admin">LOGIN</a>
      </li>
    </ul>
{% block content %}
{% endblock %}
    -->

    <div class="p-5 bg-primary text-white text-center">
      <h1>My Infor Company</h1>
      <p></p> 
    </div>
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <ul class="nav bg-info">
          <li class="nav-item">
            <a class="nav-link link-light" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/members">MEMBERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/testing">TESTING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/admin">LOGIN</a>
          </li>
        </ul>
    


      </div>
    </nav>
    
    
    
    <div class="mt-5 p-4 bg-dark text-white text-center">
      <p>Footer</p>
    </div>
   
    
  </div>

  
</body>