{% extends "master.html" %}

{% block title %}
  TESTING
{% endblock %}

{% block content %}
<h1>TESTING</h1>

<table border='1'>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  {% for x in mymembers %}
    <tr>
      <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
    </tr>
  {% endfor %}
</table>

<p>In views.py you can see what the fruits variable looks like.</p>
<p><a href="/"><button type="button" class="btn btn-primary">Back to Home</button></a></p>
{% endblock %}